<div class="container">
<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :タイトル %>
    <%= form.text_field :title, class: 'form_title' %>
  </div>
  <div class="blog_content">
    <%= form.label :本文 %>
    <%= form.text_field :content, class: 'form_content' %>
  </div>
  <div class="blog_image">
    <%= form.label :画像 %>
    <%= image_tag(@blog.image.url) if @blog.image.url %>
    <%= form.file_field :image, id: :blog_image, class: 'form_image'%>
  </div>
  
  <%= form.submit :投稿する, class: 'btn btn-info' %>
<% end %>

<br><%= link_to "一覧画面にもどる", blogs_path %>
</div>